<div class="cart">
  <h3>Carrito ({{ count() }})</h3>

  <div class="item" *ngFor="let it of items">
    <div>
      <strong>{{ it.marca }} {{ it.modelo }}</strong>
      <div class="sub">{{ it.precio }} € x {{ it.cantidad }}</div>
    </div>

    <div class="actions">
      <button class="cbtn cbtn-blue" (click)="quitarUno(it._id)">-1</button>
      <button class="cbtn cbtn-red" (click)="quitarTodo(it._id)">Quitar</button>
    </div>
  </div>

  <div class="divider"></div>

  <div class="total">
    <span>Total:</span>
    <strong>{{ total() }} €</strong>
  </div>

  <div class="footer-actions">
    <button class="cbtn cbtn-red" (click)="vaciar()">Vaciar carrito</button>
    <button class="cbtn cbtn-green" (click)="formalizarCompra()">Formalizar compra</button>
  </div>
</div>
