.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card {
  background: white;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  text-align: center;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  margin-top: 8px;
}

.precio {
  font-weight: bold;
  color: #1976d2;
}

.btn {
  margin-top: 12px;
  background: #1976d2;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: #125ea7;
}
