<div class="layout">

  <!-- CABECERA - Ahora es un componente separado -->
  <app-header 
    [logeado]="logeado" 
    [usuario]="usuario"
    (cerrarSesion)="logout()">
  </app-header>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="content">

    <!-- IZQUIERDA: categorías - Ahora es un componente intermedio -->
    <app-latizq (seleccionarCategoria)="filtrarporcategoria($event)"></app-latizq>

    <!-- CENTRO -->
    <main class="center">

      <!-- Si estamos en HOME ("/"), mostramos el listado de vehículos con filtro por categoría -->
      <app-vehiculos
        *ngIf="esHome"
        [categoriaSeleccionada]="categoriaSeleccionada">
      </app-vehiculos>

      <!-- Si NO estamos en HOME (por ejemplo /login, /registro o /mis-compras), se muestran las rutas -->
      <router-outlet *ngIf="!esHome"></router-outlet>

    </main>

    <!-- DERECHA: carrito - Ahora es un componente intermedio -->
    <app-latder [logeado]="logeado"></app-latder>

  </div>

  <!-- FOOTER -->
  <footer>
    <app-footer></app-footer>
  </footer>

</div>
