.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
.header {
  background: #1e88e5;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* CONTENIDO PRINCIPAL */
.content {
  display: flex;
  flex: 1;
}

/* COLUMNAS */
.left {
  width: 20%;
  background: #eceff1;
  padding: 10px;
}

.center {
  width: 60%;
  padding: 10px;
}

.right {
  width: 20%;
  background: #eceff1;
  padding: 10px;
}

/* FOOTER */
.footer {
  background: #1e88e5;
  color: white;
  text-align: center;
  padding: 10px;
}
